<h1>Stores</h1>
<br>
<%=link_to “Add a store”, new_store_path%>
<hr><br>
<% @stores.each do |s| %>
 <%=link_to s.location, store_path(s)%>
 <br>
 <%=link_to “Edit Store Menu”, store_menu_path(s)%>
 <%=link_to “Delete”, delete_store_path(s)%>
 <hr>
<% end %>
